:root {
  --font-display:
    RoyalSansJP-Medium, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: RoyalSansJP-Medium, 'Hiragino Maru Gothic ProN', Meiryo, sans-serif;
  --font-serif: RoyalSerifJP-SemiBold, 'Noto Serif JP', serif;
}
